
body{
    background-color: linen;
}

form{
    /* background-color: darkred; */
    border: 1px solid black;
    padding: 5px;
    box-shadow: 1px 2px gray;
    background-color: white;
}

h1, h2{
    text-align: center;
}

main{
    display:flex;
    justify-content: center;
    padding: 5vh;
    margin: 1vh;
    background-image: url(/images/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

td {
    width: 50px;
    height: 50px;
    position:relative;
  

  }

  .circle{
      border-radius: 50%;
  }

  .full{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .black{
      background-color: black;
  }

  .white{
      background-color: azure;
  }

  .wood{
      /* background-color: sandybrown; */
      background-image: url('/images/wood.jpg');
      box-shadow: 5px 10px 10px black;
      background-repeat: no-repeat;
      background-size: cover;
  }

.paper{
    background-image: url('/images/paper.jpg');
    padding: 5px;
    box-shadow: 2px 4px black;
    background-repeat: no-repeat;
    background-size: cover;
}

  .fourth{
      width: 50%;
      height: 100%;

  }

  .border{
    border: 2px solid black;
  }


  .borderLeft{
      border-left: 2px solid black;;
  }
 

  .borderBottom{
      border-bottom: 2px solid black;
  }
  

  .flex{
      display: flex;
      flex-wrap: wrap;
  }

  

  .top{
      z-index: 10;
  }

  .display{
      height: 100px;
      width: 100px;
  }

  .half{
      height: 50%;
      width: 100%;
      display : flex;
  }

  .rotate45{
      transform: rotate(45deg);
  }

  .rotate90{
    transform: rotate(90deg);
  }

  .rotate135{
    transform: rotate(135deg);
  }

  .most{
      height: 80%;
      width: 80%;
      margin: 0 auto;
  }
  
  .redBorder{
      border-color: red;
  }

  .bigger{
      height: 150%;
      width: 150%;
      position: absolute;
  }

  .positive{
    margin: 0 40%;
    top: 20%;
    left: -12%;
    right: 40%;
  }

  .negative{
    margin: 0% 20%;
    bottom: 20%;
    top: -80%;
    left: 12%;
    right: -40%;
  }

  .shine{
      box-shadow: 1px 2px darkgray;
      /* box-shadow: inset -1px -1px white; */
  }

  .winBorder{
      border: 3px solid gold;
      height: 95%;
      width:95%;
      z-index: 15;
  }